img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h2,
h3,
p {
  color: #333;
}

h2,
p {
  text-transform: uppercase;
  font-feature-settings: "palt";
}

.container {
  padding: 0 5.5%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.prof-section {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.prof-title-wrap {
  position: relative;
  height: 58vw;
  max-height: 395px;
  background-color: #fff;
}

.prof-image {
  max-width: 300px;
  height: auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.prof-char {
  font-size: clamp(2.5rem, 1.786rem + 3.57vw, 5rem);
  font-size: clamp(2rem, 1.429rem + 2.86vw, 4rem);
  mix-blend-mode: exclusion;
  color: #fff;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.prof-char._left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 5;
}

.prof-char._right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 5;
}

.prof-info {
  display: grid;
  place-items: center;
}

.prof-name {
  text-align: center;
  margin-top: 40px;
}

.en {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  white-space: nowrap;
}

.ja {
  font-size: 0.75rem;
  color: #999;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prof-detail {
  margin-top: 40px;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  line-height: 1.6;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 90%;
  max-width: 650px;
}

.skill-section,
.career-section,
.policy-section,
.strengths-section,
.future-section {
  margin-top: 6rem;
}

.sub-heading {
  font-size: 2.5rem;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

.sub-heading::after {
  content: "";
  background-image: url(./image/arrow-45deg.svg);
  background-size: cover;
  background-position: center;
  width: 0.5em;
  height: 0.5em;
  display: inline-block;
  margin-left: 5px;
}

.skill-sub-title {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.skills {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.skill-item {
  font-size: 0.75rem;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #999;
}

.skill-detail {
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  max-width: 800px;
  line-height: 1.6;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
}

.career-label {
  margin-top: 3rem;
}

.career-month {
  display: flex;
  gap: 8px;
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1.5rem;
}

.month-start {
  display: flex;
  align-items: start;
}

.month-start::after {
  content: "'19";
  font-size: 0.75rem;
}

.month-end {
  display: flex;
  align-items: start;
}

.month-end::after {
  content: "'21";
  font-size: 0.75rem;
}

.career-type {
  font-family: "Geologica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  color: #999;
}

.career-detail {
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  max-width: 800px;
  line-height: 1.6;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 1rem;
}

.prof-policy {
  margin-top: 3rem;
}

.policy-detail {
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  line-height: 1.6;
  min-width: 100%;
  max-width: 420px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  text-transform: none;
}

.policy-detail._01::before {
  content: "01)";
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.policy-detail._02::before {
  content: "02)";
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}

.policy-detail._03::before {
  content: "03)";
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  display: inline-block;
}

.prof-strengths {
  max-width: 860px;
  margin-bottom: 7px;
  border-bottom: 1px solid #999;
}

.prof-strengths:nth-child(1) {
  margin-top: 3rem;
}

.strengths-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.5em 0.5em 1.5em 0;
  color: #333333;
  cursor: pointer;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  line-height: 1.6;
  max-width: 860px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.strengths-title::-webkit-details-marker {
  display: none;
}

.strengths-title::before,
.strengths-title::after {
  width: 1px;
  height: 0.8em;
  border-radius: 5px;
  background-color: #333;
  content: "";
}

.strengths-title::before {
  position: absolute;
  right: 0.5em;
  rotate: 90deg;
}

.strengths-title::after {
  transition: rotate 0.3s;
}

details[open] summary::after {
  rotate: 90deg;
}

.strengths-desc {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 0 1em 2em;
  color: #333333;
  transition: transform 0.5s, opacity 0.5s;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  line-height: 1.6;
  max-width: 800px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

.prof-strengths[open] p {
  transform: none;
  opacity: 1;
}

.future-item {
  margin-top: 3rem;
}

.future-label {
  color: #333333;
  font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
  line-height: 1.6;
  max-width: 860px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.future-detail {
  color: #333333;
  font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
  line-height: 1.6;
  max-width: 800px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  margin-top: 1.5rem;
}

@media (min-width: 1280px) {
  .prof-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 5rem;
  }
  .prof-name,
  .prof-detail {
    margin-top: 0;
  }
  .prof-name {
    text-align: left;
  }
  .grid-col-2 {
    display: grid;
    grid-template-columns: 19vw 860px;
    justify-content: space-between;
  }
  .prof-skills,
  .prof-career,
  .prof-policy,
  .prof-strengths-list,
  .prof-future {
    margin-top: 5rem;
  }
  .prof-policy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
