section {
  margin: 0 auto;
  padding: 0 5.5%;
  max-width: 1440px;
}

h2 {
  margin-top: 5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

h3 span {
  white-space: nowrap;
}

li {
  margin-top: 5rem;
}

h4 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 0.875rem;
}

small {
  display: block;
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
}

@media (min-width: 1024px) {
  ul {
    max-width: 600px;
    margin-right: 0;
    margin-left: auto;
  }
}
