.container {
  align-items: center;
  background-color: #333;
  display: flex;
  height: 100vh;
  justify-content: center;
}
/* .side-scroll {
  height: 100vh;
  width: fit-content;
} */
.side-scroll-container {
  align-items: center;
  display: flex;
  height: 100vh;
  /* margin-inline: auto; */
  overflow: hidden;
  width: 100%;
}

.text-cotent {
  white-space: nowrap;
  font-size: clamp(3rem, 1.286rem + 8.57vw, 9rem);
  font-weight: bold;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  animation: loop-slide 150s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
